<!DOCTYPE HTML>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>オールスター大感謝祭</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src='js/require.js' data-main="js/master.js"></script>
</head>
<body>
	<div id = 'wrapper'>
		<div id = 'container'>
		</div>
	</div>
</body>
</html>
