@charset "UTF-8";
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes bound {
  /* line 7, ../sass/client.sass */
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0px);
  }

  /* line 9, ../sass/client.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
  }

  /* line 12, ../sass/client.sass */
  40% {
    -webkit-transform: translateY(-30px);
  }

  /* line 14, ../sass/client.sass */
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-webkit-keyframes fadein {
  /* line 19, ../sass/client.sass */
  0%, 20%, 50%, 80%, 100% {
    opacity: 1;
  }

  /* line 21, ../sass/client.sass */
  0% {
    opacity: 0;
  }

  /* line 23, ../sass/client.sass */
  100% {
    opacity: 1;
  }
}

/* line 27, ../sass/client.sass */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  line-height: 1.7;
}

/* line 33, ../sass/client.sass */
#wrapper {
  background: url('/img/background.jpg?1371735582') repeat-y left top;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 420px;
  overflow: hidden;
  padding-top: 10px;
}
/* line 41, ../sass/client.sass */
#wrapper #logo {
  background: url('/img/logo3.png?1371561301') no-repeat left top;
  width: 278.5px;
  height: 78px;
  background-size: 100% 100%;
  margin: 10px auto;
  opacity: 1;
  position: relative;
  top: 80px;
  -webkit-animation-name: bound;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  -webkit-animation-delay: 0s;
}
/* line 58, ../sass/client.sass */
#wrapper #message {
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  width: 80%;
  border-radius: 4px;
  margin: 10% 10%;
  color: white;
  text-align: center;
  -webkit-animation-name: bound;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  -webkit-animation-delay: 0s;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  border: solid 2px white;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 71, 153, 0.5)), to(rgba(0, 61, 143, 0.5)));
}
/* line 82, ../sass/client.sass */
#wrapper #message .in {
  box-sizing: border-box;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  padding: 10px;
  height: 100%;
}
/* line 88, ../sass/client.sass */
#wrapper #box {
  background: rgba(255, 255, 255, 0.6);
  border: solid 3px white;
  box-sizing: border-box;
  width: 280px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 4px;
  position: relative;
  top: 90px;
  opacity: 0;
  -webkit-transition: all 500ms linear;
}
/* line 101, ../sass/client.sass */
#wrapper #box.show {
  opacity: 1;
}
/* line 103, ../sass/client.sass */
#wrapper #box.hide {
  opacity: 0;
}
/* line 105, ../sass/client.sass */
#wrapper #box #entry-name {
  width: 100%;
  border-radius: 2px;
  border: solid 1px white;
  height: 20px;
  line-height: 20px;
}
/* line 111, ../sass/client.sass */
#wrapper #box button {
  width: 100%;
}
/* line 113, ../sass/client.sass */
#wrapper .quiz {
  width: 90%;
  height: 40px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  color: white;
  border-radius: 4px;
  border: solid 1px white;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 71, 153, 0.5)), to(rgba(0, 61, 143, 0.5)));
}
/* line 124, ../sass/client.sass */
#wrapper #btns {
  padding: 10px 0;
}
@media only screen and (orientation: portrait) {
  /* line 126, ../sass/client.sass */
  #wrapper #btns #btn-top {
    display: block;
  }
}
@media only screen and (orientation: landscape) {
  /* line 126, ../sass/client.sass */
  #wrapper #btns #btn-top {
    display: -webkit-box;
  }
}
@media only screen and (orientation: portrait) {
  /* line 131, ../sass/client.sass */
  #wrapper #btns #btn-bottom {
    display: block;
  }
}
@media only screen and (orientation: landscape) {
  /* line 131, ../sass/client.sass */
  #wrapper #btns #btn-bottom {
    display: -webkit-box;
  }
}
/* line 136, ../sass/client.sass */
#wrapper #btns .btn {
  -webkit-box-flex: 1;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto 10px auto;
  color: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f0f0f0));
  text-align: center;
  border-radius: 4px;
  font-size: 2.8em;
  text-shadow: -1px -1px 0px white;
  border: solid 1px white;
  border-bottom: solid 12px #dcdcf0;
}
@media only screen and (orientation: landscape) {
  /* line 136, ../sass/client.sass */
  #wrapper #btns .btn {
    width: 96%;
  }
}
/* line 151, ../sass/client.sass */
#wrapper #btns .btn.selected {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  text-shadow: none;
  border-bottom: none;
  box-shadow: none;
  border: none;
}
/* line 158, ../sass/client.sass */
#wrapper #btn-fb {
  text-align: center;
  border-color: #29447e;
  border-bottom-color: #1a356e;
  color: white;
  background-color: #5872a7;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
  background-image: -webkit-linear-gradient(#637bad, #5872a7);
  background-image: linear-gradient(#637bad, #5872a7);
  background-image--webkit-box-shadow: inset 0 1px 0 #879ac0;
  box-shadow: inset 0 1px 0 #879ac0;
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  margin: 10px auto;
}
